body{
    background-color: #282726;
}
main{
    margin: 20px auto;
    width: 85%;
    
}
header img{
    margin-top: 30px;
}

header{
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    position: relative;
    border: 1px solid black;
    position: sticky;
    top: 0;
    background-color: #3e3b37;
}
#botonsitos{
    align-items: center;
    flex-grow: 1;   
    margin-top: 10px;
    margin-left: -20px;
}    
#botonsitos li{
    width: 160px;
}
#contacto{
    margin-left: 55px;
}
#botonsitos ul{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#botonsitos a{
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 200px;
    
}
#botonsitos a :hover{
    transition-property: all;
    color: white;
    transition-duration: 1s;
}
#botonsitos li{
    width: 133px;
}
#sesiones{
    align-items: center;
}
#imageb{
    padding-top: 10px;
    
}
#sesiones ul{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#sesiones a{
    padding: 8px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 200px;
    width: 100px;
}
#sesiones a :hover{
    transition-property: all;
    color: rgb(255, 255, 255);
    transition-duration: 1s;
    background-color: rgb(50, 50, 46);
    border-radius: 10px;
    text-align: center;
    width: 120px;
}
#sesiones li{
    padding: 8px;
    width: 120px;
    margin-right: 50px;
    font-size: 20px;
}
#productoss{
    height: 50px;
    background-color: beige;
    margin: 30px;
    padding-top: 10px;
}
#contenido{
    height: 1100px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    background-color: #1e1c1c;
}
#productitos{
    border: 1px solid black;
    width: 15%;
    margin: 30px;
    height: 1050px;
    background-color: #b2b0ac;
}
#productitos h2{
    margin: 50px;
}
#productitos h2:nth-of-type(2) {
    margin-left: 10px; 
}
#productitos h2:nth-of-type(3) {
    margin-left: 35px;
}
#productitos ul{
    list-style: none;
}
#contenidoPrincipal{
    border: 1px solid black;
    width: 80%;
    margin: 30px;
    background-color: #9e9b97;
}
#contenidoPrincipal h2{
    margin: 50px;
    margin-top: 10px;
}
#contenidoPrincipal h2:nth-of-type(2){
    margin-bottom: 20px;
}
#imagenesMochila{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px; 
    margin: 0 auto;
}
.ns1 {
    width: calc(50% - 10px); 
    margin-bottom: 20px; 
    display: flex;
    
}
.ns1 img {
    width: 170px;
    height: auto;
    margin-top: 80px;
    margin-left: -50px;
    border-radius: 590px;
}
.ns1 p{
    margin-top: 150px;
    margin-left: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#menuSecundario{
    height: 100px;
    background-color: #3e3b37;
}
#barritass{
    padding: 15px;
}
#barritass ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}
#barritass li{
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 90px;
}
footer{
    
    height: 120px;
    justify-content: space-between;
    display: flex;
}
footer p{
    color: white;
}
#libro{
    margin: 30px;
}

































hr{
    border: 1px solid rgb(59, 53, 53);
    margin: 10px;
}
