body{
    background-color: rgb(42, 40, 40);
}
main{
    margin: 20px auto;
    width: 85%;
}
header img{
    margin-top: 30px;
    
}

header{
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    position: relative;
    border: 1px solid black;
    position: sticky;
    top: 0;
    background-color: #3e3b37;
}
#botonsitos{
    align-items: center;
    flex-grow: 1;   
    margin-top: 10px;
    margin-left: -20px;
}    
#botonsitos li{
    width: 160px;
}
#contacto{
    margin-left: 55px;
}
#botonsitos ul{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#botonsitos a{
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 200px;
    
}
#botonsitos a :hover{
    transition-property: all;
    color: white;
    transition-duration: 1s;
}
#botonsitos li{
    width: 133px;
}
#sesiones{
    align-items: center;
}
#imageb{
    padding-top: 10px;
    
}
#sesiones ul{
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#sesiones a{
    padding: 8px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 200px;
    width: 100px;
}
#sesiones a :hover{
    transition-property: all;
    color: rgb(255, 255, 255);
    transition-duration: 1s;
    background-color: rgb(50, 50, 46);
    border-radius: 10px;
    text-align: center;
    width: 120px;
}
#sesiones li{
    padding: 8px;
    width: 120px;
    margin-right: 50px;
    font-size: 20px;
    
}
hr{
    margin: 5px;
    border: 1px solid black;
}
#cuerpo{
    height: 1200px;
    margin: 20px;
    margin-right: -5px;
    margin-left: -5px
}
#primeraParte{
    display: flex;
    height: 50%;
    margin: 10px;
}
#primerosegunda{
    height: 100%;
    background-color: black;
    text-align: center;
    width: 100%;
}
#primerosegunda h4{
    color: rgb(239, 238, 238);
    padding-top: 150px;
    margin-bottom: -10px;
    font: normal normal normal 50px/1.4em dinneuzeitgroteskltw01-_812426, sans-serif;
    
}
#comprar{
    width: 290px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #908070;
    border-radius: 15px;
}

#comprar a{
    text-decoration: none;
    color: white;
    
}
#comprar a p{
    font-size: 30px;
}
#comprar p{
    padding-top: 0px;

}
#comprar a :hover{
    background-color: #5a534b;
    text-align: center;
    transition-property: all;
    transition-duration: 600ms;
    border-radius: 15px;
}

#segundaParte{
    display: flex;
    height: 50%;
    margin: 10px;
    
}
#segundoPrimero{
    height: 100%;
    background-color: rgb(28, 27, 27);
    text-align: center;
    width: 50%;
}
#segundoPrimero h4{
    color: rgb(239, 238, 238);
    padding-top: 150px;
    margin-bottom: -10px;
    font: normal normal normal 50px/1.4em dinneuzeitgroteskltw01-_812426, sans-serif;
    
}
#detalles{
    width: 190px; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: #908070;
    border-radius: 15px;
}
#detalles a{
    text-decoration: none;
    color: white;
    
}
#detalles a p{
    font-size: 30px;
}
#detalles p{
    padding-top: 0px;

}
#detalles a :hover{
    background-color: #5a534b;
    text-align: center;
    transition-property: all;
    transition-duration: 600ms;
    border-radius: 15px;
}
#menuSecundario{
    height: 100px;
}
#barritas{
    padding: 15px;
}
#barritas ul{
    display: flex;
    list-style: none;
    justify-content: center;
    
}
#barritas li{
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-right: 90px;
}
footer{
    
    height: 120px;
    justify-content: space-between;
    display: flex;
}
footer p{
    color: white;
}
#libro{
    margin: 30px;
}
    


    










