main{
    width: 60%;
    margin: 20px auto;
    
}
header{
    margin-top: 80px;
    font-size: 30px;
    text-align: center;
    font-family: "Sedan SC", serif;
    position: sticky;
    top: 0;
    background-color: white;
    height: 200px;
}
header a{
    text-decoration: none;
    color: black;
}
header a :hover{
    opacity: 0.7;
}
ul{
    display: flex;
    margin-left: 90px;
    margin-top: 0;
    list-style: none;
    padding: 0;
}
li{
    list-style: none;
    margin-left: 25px;
    display: flex;
    align-items: center;
    color: rgb(35, 35, 135);
}
li a{
    color: rgb(29, 33, 167);
    text-decoration: none;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;

}

li a :hover{
    background-color: rgb(195, 200, 204);
    transition: 0.8s;
    opacity: 0.6;
    border-radius: 10px;
}
#primeras{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;
    margin-left: -150px;
    margin-top: 80px;
}
figure{
    border: 1px solid brown;
    padding: 20px;
    text-align: center;
}
figure img{
    border: 1px solid rgb(43, 175, 26);
    padding: 15px;
    height: 240px;
}
figure:hover{
    opacity: 0.6;
    transition: 0.8s;
}